@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

main, nav, header{
  padding: 0 10vw;
}

nav {
  margin-top: 30px
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;

    .button-nav-bar {
      border: 0px;
      font-family: "Roboto";
      font-size: 24px;
      font-weight: 400;
      border-radius: 10px;
      padding: 10px;
      margin-left: 60px;
      text-decoration: none;
      color: #000;
    }

    .button-nav-bar:hover {
      background-color: #a396967c;
    }
  }

  .header-title {
    font-family: "Coiny", cursive;
    font-weight: 400;
    font-size: 38px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;

  .presentation,
  .job {
    .presentation-text {
      line-height: 1.5;
    }
  }
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 40px;

  .contact-titles {
    max-width: 50%;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;

    label {
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 700;
    }

    .required {
      color: red;
    }

    input {
      width: 530px;
      height: 55px;
    }

    textArea {
      height: 175px;
    }

    .form-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        background-color: #000;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 26px;
        padding: 5px 30px;
      }
    }
  }
}

.introduction {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 4vw;
  gap: 60px;

  img {
    width: 50%;
  }
  .introduction-text {
    .intrdocution-subtitle {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 20px;
      padding: 0 10px;
      background-color: #fcee21;
    }

    p {
      margin-top: 60px;
    }
  }
}

.services {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 65%;
    }
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  p {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 25px;
    color: #808080;
    margin: 0;
  }

  img {
    width: 10%;
  }
}

footer {
  .social-media {
    margin-bottom: 60px;
    padding: 0 10vw;
  }
  .footer {
    background-color: #fcee21;
    width: 100%;

    .footer-text {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 40px;
      padding: 0 10vw;

      .footer-title {
        font-family: "Coiny";
        font-weight: 400;
        font-size: 33px;
        margin: 30px 0px;
      }

      p {
        margin: 0;
      }
    }
  }
}

h1,
h3 {
  font-family: "Coiny", cursive;
  font-weight: 400;
}

h2,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  margin: 50px 0 30px 0;
  line-height: 1;

  .main-title-1 {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 400;
  }
  .main-title-2 {
    font-size: 88.28px;
  }
}

h2 {
  font-size: 48px;
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 26.42px;
  font-weight: 900;
  margin-top: 45px;
  margin-bottom: 0px;
  background-color: #fcee21;
  padding: 5px 15px;
  width: fit-content;
}

h6 {
  font-size: 40.86px;
  font-weight: 700;
  margin: 0;
}

.h7 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50.58px;
  background-color: #000;
  color: #fff;
  width: fit-content;
  line-height: 1.5;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
}

ol {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-left: 1.5em;
  line-height: 2;
}

ol li:last-child {
  background-color: #fcee21;
  width: fit-content;
}
